<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://github.com/spring-projects/spring-boot/blob/v1.5.13.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="com/alibaba/boot/logback/alimonitor.xml"/>

    <springProperty scopen="context" name="loggingLevel" source="loggingLevel" defaultValue="INFO"/>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%level|%logger{10}|%m%n"/>
    <property name="LOG_PATH" value="${user.home}/inaction/logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/test-log.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/test-log.%d</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="DEFAULT-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="DEFAULT"/>
        <param name="locationInfo" value="true" />
    </appender>
    <logger name="cn.orangepoet.inaction.app.logback" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="DEFAULT-ASYNC"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
